/* || Import Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* || Memberikan Default untuk Position Box dan Font Family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* || Background Utama */
main {
    height: 100vh;
    background-color: #fcffe7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || Bagian Box Card */
.box-card {
    height: 460px;
    width: 400px;
    background-color: #bad7e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* || Bagian Header Card */
.content-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3467;
    box-shadow: 0px 5px 0px gray;
    color: #fcffe7;
}

/* || Bagian Content Card */
.content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0px 40px;
}

/* || Bagian Content Penandatanganan */

.content .label-sign {
    margin-top: 30px;
    width: 100%;
    color: #2b3467;
}

/* || Bagian Content Perihal */

.content .label-purpose {
    width: 100%;
    color: #2b3467;
}

/* || Bagian Content Unit Kerja */

.content .label-working-unit {
    color: #2b3467;
    width: 100%;
}

/* || Styling Header Penandatanganan,Perihal, Unit Kerja */
.content .label-sign h3,
.content .label-purpose h3,
.content .label-working-unit h3 {
    font-size: 1rem;
    color: #2b3467;
    letter-spacing: 1px;
    font-weight: 400;
}
/* || Styling Content Penandatanganan,Perihal, Unit Kerja */
.content .label-sign .content-sign,
.content .label-purpose .content-purpose,
.content .label-working-unit .content-label-working-unit {
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: 600;
}

/* || Bagian Button File PDF */
/* || Container File PDF */
.content .content-file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* || File Format Logo */
.content .content-file .file-format {
    background-color: #fcffe7;
    text-align: center;
    height: 100%;
    width: 20%;
    padding-top: 2px;
    border-right: 2px solid gray;
}
.content .content-file .file-format h3 {
    width: 100%;
    font-size: 1rem;
    color: #2b3467;
}

/* || Button File */
.content .content-file .btn-file {
    width: 100%;
}
.content .content-file .btn-file button {
    border: none;
    background-color: #2b3467;
    text-decoration: underline;
    width: 100%;
    height: 28px;
    cursor: pointer;
    font-size: 0.8rem;
    padding-top: 2px;
    color: #fcffe7;
    font-weight: 100;
}

.content .content-file .btn-file button:hover {
    text-decoration: none;
}
/* || Media Query */
@media screen and (max-width: 600px) {
    /* || Styling Box Card */
    main {
        height: auto;
    }
    .box-card {
        width: 100%;
        height: 100vh;
    }

    .content {
        padding: 0px 35px;
        justify-content: space-around;
    }

    .content .label-sign {
        width: 100%;
        text-align: justify;
    }

    /* || Bagian Content Perihal */

    .content .label-purpose {
        width: 100%;
    }

    /* || Bagian Content Unit Kerja */

    .content .label-working-unit {
        width: 100%;
    }

    /* || Styling Header Penandatanganan,Perihal, Unit Kerja */
    .content .label-sign h3,
    .content .label-purpose h3,
    .content .label-working-unit h3 {
        font-size: 1.7rem;
        letter-spacing: 1px;
        font-weight: 400;
        padding-bottom: 1px;
    }
    /* || Styling Content Penandatanganan,Perihal, Unit Kerja */
    .content .label-sign .content-sign,
    .content .label-purpose .content-purpose,
    .content .label-working-unit .content-label-working-unit {
        font-size: 1.28rem;
        letter-spacing: 2.5px;
        font-weight: 600;
    }

    /* || Bagian Button File PDF  */
    /* || Container File PDF */
    .content .content-file {
        height: 8vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    /* || File Format Logo */
    .content .content-file .file-format {
        display: flex;
        align-items: center;
        height: 100%;
        width: 20%;
        padding-top: 2px;
    }
    .content .content-file .file-format h3 {
        width: 100%;
        font-size: 1rem;
    }

    /* || Button File */
    .content .content-file .btn-file {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content .content-file .btn-file button {
        width: 100%;
        display: flex;
        font-size: 0.8rem;
        padding-top: 2px;
        font-weight: 100;
    }

    .content .content-file .btn-file button:hover {
        text-decoration: none;
    }
}
@media screen and (max-height: 915px) and (min-height: 741px) {
    /* || Styling Box Card */
    main {
        height: auto;
    }
    .box-card {
        width: 100%;
        height: 100vh;
    }

    .content {
        padding: 0px 31px;
        justify-content: space-around;
    }

    .content .label-sign {
        margin-top: 30px;
        width: 100%;
    }

    /* || Bagian Content Perihal */

    .content .label-purpose {
        width: 100%;
    }

    /* || Bagian Content Unit Kerja */

    .content .label-working-unit {
        width: 100%;
        margin-bottom: 30px;
    }

    /* || Styling Header Penandatanganan,Perihal, Unit Kerja */
    .content .label-sign h3,
    .content .label-purpose h3,
    .content .label-working-unit h3 {
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    /* || Styling Content Penandatanganan,Perihal, Unit Kerja */
    .content .label-sign .content-sign,
    .content .label-purpose .content-purpose,
    .content .label-working-unit .content-label-working-unit {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 600;
    }

    /* || Bagian Button File PDF  */
    /* || Container File PDF */
    .content .content-file {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }

    /* || File Format Logo */
    .content .content-file .file-format {
        text-align: center;
        height: 100%;
        width: 20%;
        padding-top: 2px;
    }
    .content .content-file .file-format h3 {
        width: 100%;
        font-size: 1rem;
    }

    /* || Button File */
    .content .content-file .btn-file {
        width: 100%;
    }
    .content .content-file .btn-file button {
        border: none;
        width: 100%;
        height: 28px;
        font-size: 0.8rem;
        padding-top: 2px;
        font-weight: 100;
    }

    .content .content-file .btn-file button:hover {
        text-decoration: none;
    }
}
